body {
	text-align: center;
	background-color: #232323;
}

#squareContainer {
	margin: 0 auto;
	max-width: 600px;
}

.square {
	width: 21%;
	background-color: purple;
	padding-bottom: 21%;
	float: left;
	margin: 1.5%
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
}

h1 {
	color: white;
}

.selected {
	border: 3px solid red;
}