body {
	text-align: center;
	background-color: white;
}

#squareContainer {
	margin: 0 auto;
	max-width: 600px;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%
}

p {
	font-size: 24px;
}