body {
	text-align: center;
	background-color: #232323;
}

#squareContainer {
	margin: 0 auto;
	max-width: 600px;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
}

h1 {
	color: white;
}