<% include partials/header %>
<h1>You fell in love with <%= thingVar.toUpperCase() %>!!!</h1>

<% if(thingVar.toLowerCase() === "android") {%>
        <p>GOOD CHOICE!</p>
<% } %>
<% include partials/footer %>