body {
	/*background-image: linear-gradient(to bottom right, red, yellow);*/
	background-color: #87cefa;
	font-size: 20px;
}

h1 {
	width: 60%;
}

#toDoList {
	width: 500px;
	margin: 0 auto;
}

.done {
	text-decoration: line-through;
	color: gray;
}

.item {
	list-style-type: none;
}