<h1>Search for a movie</h1>

<form method="get", action="/results">
    <label>Film:</label>
    <input type="text", placeholder="name" name="filmName">
    <br>
    <label>Year:</label>
    <br>
    <input type="submit">
</form>