<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+"
            crossorigin="anonymous">
    </head>
    <body>